<a href="https://colab.research.google.com/github/dipeshrayg/Basics/blob/main/basics_on_listing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
fruits = ["grapes", "banana", "apple"]
print(len(fruits))

#index
print(fruits[0])
print(fruits[1])
print(fruits[2])

print(fruits[-1])
print(fruits[-2])
print(fruits[-3])

3
grapes
banana
apple
apple
banana
grapes

In [6]:
even_num = [2,4,6,8]
print(even_num)

[2, 4, 6, 8]

list() can convert other data types like range() into the list

In [7]:
number = list(range(5))
print(number)

[0, 1, 2, 3, 4]

traversing a list:
you are going to pick every single item one by one

In [8]:
cheese= ["cheddar","mozarella","parsmen"]

#traversing the cheeses
for cheese in cheese:
  print(cheese)

cheddar
mozarella
parsmen

if you want to modify or change the list

In [10]:
cheese = ["cheddar","mozarella","parsmen"]

for i in range(len(cheese)):
  cheese[i]= cheese[i]+ " cheese"

print(cheese)

['cheddar cheese', 'mozarella cheese', 'parsmen cheese']

In [12]:
#indexing

numbers= [10,20,30,40]
print(numbers[2])

30

looping through a list

In [13]:
#doubling each numbers in the list
numbers = [1,2,3,4,5]
for i in range(len(numbers)):
  numbers[i] =numbers [i] *2
print(numbers)

[2, 4, 6, 8, 10]

In [14]:
for x in []:
  print("this never happens")

nested list count as a single element

In [15]:
my_list = ["spam",1,["nirdie",1],2.0,3]
print(len(my_list))

5

what is concatenating - joining 2 lists together
there are 2 ways to do it:
1- using +
2- using +=

In [17]:
list1 =[1,2,3]
list2 =[4,5,6]
final_list = list1 +list2 #1
print(final_list)

#2
final_list += [4,4,4,4]
print(final_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 4, 4, 4]

list * operator works

repetition

In [18]:
numbers =[1,2,3] *3
print(numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

list slicing:

In [20]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
mid_days = days[2:3]
print(mid_days)

#syntax : list [start:end]

['wednesday']

the in operator