<a href="https://colab.research.google.com/github/dipeshrayg/Basics/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Key
Value

In [ ]:
students = {"mark": "192923", "ray": "28498", "hayam": "45242"}
print(students)

{'mark': '192923', 'ray': '28498', 'hayam': '45242'}

In [ ]:
#second dictionary method

students = {"mark": "192923", "ray": "28498", "hayam": "45242"}
print(students)

{'mark': '192923', 'ray': '28498', 'hayam': '45242'}

In [ ]:
#dictionaries are mutable
students = {'mark':'4555255','humza':'352253','kamran':'254515'}
students['bishal']='52515'
print(students)

{'mark': '4555255', 'humza': '352253', 'kamran': '254515', 'bishal': '52515'}

In [ ]:
#delete a value from a list
students= {'mark':'4555255','humza':'352253','kamran':'254515'}
if'ayush' in students:
  del students['humza']
print(students)

{'mark': '4555255', 'humza': '352253', 'kamran': '254515'}

In [ ]:
#list of planets
planets =["mercury",'venus','earth','mars','jupiter','saturn','uranus','neptune']

#create an empty dictionary
planet_to_initial ={}

for planet in planets:
  planet_to_initial[planet]=planet[0]
print(planet_to_initial)

{'mercury': 'm', 'venus': 'v', 'earth': 'e', 'mars': 'm', 'jupiter': 'j', 'saturn': 's', 'uranus': 'u', 'neptune': 'n'}

In [ ]:
#clear method :dictionary.clear()
students= {'mark':'4555255','humza':'352253','kamran':'254515'}
students.clear()
print(students)

{}

In [ ]:
#fet method : dictionary.get()
students= {'mark':'4555255','humza':'352253','kamran':'254515'}
print(students.get('mark'))

4555255

In [ ]:
#items method: dictionary.item()
students= {'mark':'4555255','humza':'352253','kamran':'254515'}
print(students.items())

dict_items([('mark', '4555255'), ('humza', '352253'), ('kamran', '254515')])

In [ ]:
#asking for loop in the item()
#asking for loop in the item()

students = {'mark':'4555255','humza':'352253','kamran':'254515'}
for key, value in students.items():
  print(key,value)

mark 4555255
humza 352253
kamran 254515

In [ ]:
#keys ()method :dictionary.key()
students= {'mark':'4555255','humza':'352253','kamran':'254515'}
print(students.keys())

dict_keys(['mark', 'humza', 'kamran'])

In [ ]:
# pop() method

students= {'mark':'4555255','humza':'352253','kamran':'254515'}
students.pop('humza')
print(students)

{'mark': '4555255', 'kamran': '254515'}

In [ ]:
# Set form a string

set1 = set('h e l l o')
print(set1)

{'o', 'h', ' ', 'l', 'e'}

In [ ]:
# another method to create set : use curly braces {} to create a set directly

my_set = ('History','Math','Physics','CompSci')
print(my_set)

('History', 'Math', 'Physics', 'CompSci')

In [ ]:
#what kind of vlaues we can insert in a set

x= {42,'food',3.14,43,'true'}
print(x)

{3.14, 'true', 'food', 42, 43}

In [ ]:
#set must be imitable

my_set = {1,2,(3,4)}
my_set
print(my_set)

{1, 2, (3, 4)}

In [ ]:
#set size and members
len(my_set)

3

In [ ]:
#how to check if the value or data in the set or not (membership)

x={42, 'food',3.14,43,'true'}

print(42 in x)
print(42 not in x)

True
False

In [ ]:
#operating on sets :union type
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#intersection of a set type
A={1,2,3,4,5}
B={4,5,6,7,8}
A&B

{4, 5}

In [ ]:
#difference in sets
A= {1,2,3,4,5}
B={4,5,6,7,8}
A-B

{1, 2, 3}

In [ ]:
#modify a set with add() and update()

my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#UPDATE ()a set

my_set = {1,2,3,4,5}
my_set.update([6,7,8])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#delete sets remove()
my_set = {1,2,3,4,5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}